/* property */

/* html tag를 두가지로 나눌 수 있다. */
/* 이 점은 element의 크기를 지정할 때 방법이 다르기 때문에 중요하다. */

/* 
inline element : contents 크기만큼 자리를 차지
block element : contents 크기 상관 없이 한 줄을 차지 */

/* 
ex)
    inline : span, a, img, button
    block : p, div, ul, li, h1-h6
 */


/* display 속성을 통해 element 속성을 바꿀 수 있다. */
/*  */
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

p, span {
    width: 100px;
    height: 100px;
}

p {
    background-color: coral;
    display : inline-block;
}

span {
    background-color: teal;
    display: block;
}

p:nth-child(3){
    /* display: none; */
    margin: 5px 10px 20px 30px;
    /* top right bottom left */
    margin-right: 50px;
    padding: 20px;
    border: 5px solid blue;
    /* border : 굵기 스타일 색깔 */
    border-top-width: 15px;
    /* box-sizing: border-box; */
    /* border-box : padding border크기 모두 합쳐 콘텐트 크기가 100이 되게 설정 */
}

/* 반응형 웹페이지가 trend이기 때문에 rem,em,%와 같은 단위를 주로 사용한다!!! */

div {
    font-size: 1.5rem;
    /* rem
        루트 요소(html) font-size를 기준으로 한다. -> 16px * 1.5배 */
    /* font-size는 상속이 가능하다 */
    background-color: lightblue;
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

/* 부모와 자식관계 */
div span {
    font-size: 1.2em;
    /* em
        부모 element의 font-size를 기준으로 한다 */
    width: 100%;
    height: 80%;
    /* %는 width나 height를 지정할 때 주로 사용 */
}