p, span {
    width: 100px;
    height: 100px;
}

p {
    background-color: coral;
    /*display: inline;*/
}

span{
    background-color: teal;
    /*display: block;*/
}

p:nth-child(3){
    /*display:none;*/
    margin: 5px 10px 20px 30px;
    margin-right: 50px;
    padding: 20px;
    border: 5px solid blue;
    border-top-width: 15px;
    /*box-sizing: border-box;*/
}

div{
    font-size: 1.5rem;
}

div span{
    font-size: 1.2em;
    height: 80%
    width: 100%
}