div{
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 30px;
    background-color: pink;
}

.lightblue{
    background-color: lightblue;
}

.orange {
    background-color: orange;
}

#yellow{
    background-color: yellow;
}

#green{
    background-color: green;
}

div:hover{
    background-color: grey;
}

#green:hover{
    background-color: grey;
}

div:active{
    background-color: purple;
}

input:focus{
    background-color: blue;
}