/* flex */

/* flex 속성은 요소 자체에 주는게 아니라 부모요소에 주는 것임 */

/* flex는 main-axis 축 (보통 수평) 과 cross-axis(보통수직) 이 존재한다. */

/* flex direction 에는 row(수평좌에서 우), row reverse , column(수직강하) , colum reverse  가 있다. */


/* ---------------------------------------- */
/* justify-content 속성 (정렬)

    flex-start(왼쪽정렬 , 기본값)
    flex-end(오른쪽 정렬)
    center(중앙정렬)
    space-between(양 끝 그대로 요소 간 간격 존재)
    space-evenly(요소 간 간격 일정하게)
    space-arround(양 끝 간격= 요소 간 간격 /2)
    
*/

/* ---------------------------------------- */


/* flex를 쓰는 이유 */
/* 반응형 웹페이지를 위해 등장 */

/* ------------------------------ */

/* flex-grow = 뷰포트크기가 늘어남에 따라 남는공간을 특정 요소가 더 가지는 것 */

/* flex-shrink = 뷰포트 크기가 줄어듬에 따라 요소의 크기를 다른요소보다 더 줄임 */

/* flex-wrap = 뷰포트 크기가 줄어도 요소크기는 줄지않고 다음줄로 내려감 */

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  .flex-container{
    background-color:teal;
    display: flex;
  /*   flex-direction:row-reverse; */
    align-items:baseline;
    justify-content: space-between;
    height: 100vh;
    flex-wrap:wrap;
  }
  .flex-item{
    background-color: tomato;
    width: 100px;
    height:100px;
    border: 3px solid black;
    font-size: 30px;
    font-weight: bold;
  }
  .flex-item:nth-child(4){
  /*   flex-grow: 3; */
    flex-shrink:3;
  }
  .flex-item:nth-child(5){
  /*   flex-grow: 2; */
    flex-shrink:2;
  }
  